version: 2.1

jobs:
  build:
    docker:
      - image: cimg/ruby:2.7.1-node
        environment:
          - RAILS_ENV=test
          - RACK_ENV=test
    steps:
      - checkout
      - restore_cache:
          keys:
            - bundle-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
      - run:
          name: Install gems
          command: bundle install --path ~/.cache/bundle
      - save_cache:
          key: bundle-{{.Branch}}-{{ checksum "Gemfile.lock" }}
          paths:
            - ~/.cache/bundle
      - run:
          name: Run tests
          command: bundle exec rspec
      - run:
          name: Check code style
          command: bundle exec rubocop
  deploy:
    docker:
      - image: cimg/ruby:2.7.1-node
    steps:
      - checkout
      - run:
          name: Tag the version
          command: |
            git fetch --tags
            version=$(cat lib/cirro_io/client/version.rb | grep VERSION | awk -F' = ' '{print $2}' | xargs)
            if git rev-parse v"$version" >/dev/null 2>&1; then
              echo "This version already exists. Please update the version";
              exit 1
            else
              git tag v"$version"
              git push origin v"$version"
            fi
      - run:
          name: build gem
          command: gem build cirro-ruby-client.gemspec
      - run:
          name: push to rubygems
          command: |
            version=$(cat lib/cirro_io/client/version.rb | grep VERSION | awk -F' = ' '{print $2}' | xargs)
            echo "gem `gem --version`"
            mkdir ~/.gem
            cat .circleci/gem_credentials | sed -e "s/__RUBYGEMS_API_KEY__/${RUBYGEMS_API_KEY}/" > ~/.gem/credentials
            chmod 0600 ~/.gem/credentials
            gem push cirro-ruby-client-$version.gem
            shred -u ~/.gem/credentials

workflows:
  version: 2
  deploy_the_gem:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - master
